.title {
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    background: #9C27B0;
    color: white;
}

.logout {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    margin-top: 20px;
    color: #9C27B0;
    font-weight: 600;
}

.logout p {
    cursor: pointer;
}